<html lang="en">
<head>
  <meta charset="utf-8">
  <title>carrusel 3d</title>
  
</head>

<body>
  <h1><p>Lo más vendido</p></h1>
  <div class="content-all">
    <div class="content-carrousel">
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/img9.jpg" alt="Imagen producto 1"></a>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/vendido1.avif" alt="Raqueta de tennis"></a>
        <div class="capa">
          <h3>Raqueta de tennis</h3>
          <p>
            <b>La raqueta es un implemento deportivo que consiste en un marco con un aro abierto y con una especie de red o caucho que lo cubre. Raquetas y pelotas de tenis. Colectivamente, en los juegos que la utilizan se conocen como deportes de raqueta, entre otros: bádminton, raquetbol, squash, tenis, tenis de mesa.</b>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/vendido2.png" alt="Zapatillas Nike LeBron"></a>
        <div class="capa">
          <h3>Zapatillas nike lebron basket</h3>
          <p>
            <b>Súbele un nivel a tu juego con el LeBron Witness 5, un calzado robusto y ligero que está diseñado para verse veloz. La pieza rígida en el talón y el sistema de bloqueo del antepié brindan soporte. La amortiguación eficaz y la tracción multidireccional se combinan para que mantengas el control mientras corres hacia la canasta.</b>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/vendido3.jpg" alt="Guantes de box"></a>
        <div class="capa">
          <h3>Guantes de box negros</h3>
          <p>
            <b>Los guantes de boxeo son los guantes acolchonados reglamentarios que los combatientes usan con el fin de suavizar el impacto de los golpes durante los combates de boxeo.</b>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/vendido4.jpg" alt="Zapatillas Kyrie"></a>
        <div class="capa">
          <h3>Zapatillas kyrie negras</h3>
          <p>
            <b>Cuanto más rápido eres dentro y fuera de los cortes, más rápido puedes romper la defensa. Confeccionado para el estilo rápido e inigualable de Kyrie Irving, el Kyrie Flytrap 3 combina soporte y contención para todo el pie, amortiguación eficaz y una suela resistente moldeada para movimientos sin costuras a través de líneas extremadamente ceñidas.</b>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/vendido5.jpg" alt="Balón clásico de fútbol"></a>
        <div class="capa">
          <h3>Balón clásico de futbol</h3>
          <p>
            <b>Pelota De Futbol Nº5 320 Grs Estilo Clasica Gajos Blanco Y Negro.</b>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/vendido6.webp" alt="Zapatillas Nike Mercurial"></a>
        <div class="capa">
          <h3>Zapatillas nike mercurial </h3>
          <p>
            <b>Mejora tu juego de fútbol con estos botines Nike Superfly 8 Academy en un vibrante color azul cloro. Diseñados tanto para terrenos firmes como para superficies de terrenos múltiples, estos botines son perfectos para cualquier tipo de jugador de fútbol. Con una talla 13 de EE. UU., ofrecen un ajuste cómodo para quienes tienen pies más grandes.</b>
            <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/casco - copia.jpg" alt="Indumentaria para correr"></a>
        <div class="capa">
          <h3>Indumentaria para correr</h3>
          <p>
            <b>La comodidad es fundamental cuando se trata de prendas para correr.</b>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
      <figure>
        <a [routerLink]="'/producto'"><img src="../../../../../assets/imagenes/vendido8.jpg" alt="Bicicleta Trek"></a>
        <div class="capa">
          <h3>Bicicleta Trek Rodado29</h3>
          <p>
            <b>Trek Marlin 6 nueva, año 2017, cuadro 18,5" color negro mate, llantas 29".</b>
          </p>
          <a [routerLink]="'/producto'" class="btn"><span class="btn-text">Ver Producto</span></a>
        </div>
      </figure>
    </div>
  </div>
  
</body>
</html>